{% extends 'base.html' %}

{% block bodyblock%}

<div class="container">
    <br><br>
    <h2 class="display-8">Face Recognition Gender Classification Project</h2>
    <br>
    <h4 class="display-8">Project Details</h4>
    
    <img src="/static/images/details.svg" class="image-fluid" width="600" alt="">
    <p><sub><a href="https://www.avast.com/c-facial-recognition">image source</a></sub></p>

    <br>
    <h5>1. Machine Learning Model Building</h5>
    <ol style="list-style-type:lower-alpha">
        <li>Data Collection</li>
        Data used for model training : <a href="https://www.kaggle.com/datasets/ashishjangra27/gender-recognition-200k-images-celeba"> Gender Classification 200K Images | CelebA Dataset from Kaggle</a>
        <li>Data Preprocessing</li>
        <ol style="list-style-type:lower-roman">
            <li>Convert all images to grayscale images</li>
            <li>Crop faces (detected by <a href="https://github.com/opencv/opencv/tree/master/data/haarcascades">Haar Cascade Classifier</a>) from the images</li>
            <li>Resize cropped image (faces)  to size 100*100</li>
            <li>Structure the pixel values into a dataframe</li>
        </ol>
        <li>Feature Extraction</li>
        <ol style="list-style-type:lower-roman">
            <li>Subtract mean face of the dataset  from each face image</li>
            <li>Perform Principal Component Analysis(PCA)  to find eigen faces</li>
        </ol>
        <li>Machine Learning Model Training</li>
        <ol style="list-style-type:lower-roman">
            <li>Grid Search to look for best parameters of  Support Vector Machine (SVM) Classifier</li>
        </ol>
        <li>Create an ML Pipeline</li>
        <ol style="list-style-type:lower-roman">
            <li>Put steps from data preprocessing to model training together and create a pipeline</li>
        </ol>
    </ol>
    <p> All the notebooks are available in my github <a href="https://github.com/hiuc1999/GenderClassificationApp/tree/main/Notebooks">repository</a>.</p>
    <br>
    <h5>2. Flask-based Web Application Development</h5>
    <ol style="list-style-type:lower-alpha">
        <li>Web Application Design</li>
        <ol style="list-style-type:lower-roman">
            <li>Store all the common elements in a base template by <a href="https://flask.palletsprojects.com/en/2.2.x/patterns/templateinheritance/">template inheritance</a></li>
            <li>Create different routes and templates for pages in the web-app</li>
            <li>HTML, CSS Styling</li>
        </ol>
        <li>ML Model Integrate into the Web-App</li>
        <li>Deployment on <a href="http://heroku.com">Heroku Cloud</a></li>
    </ol>

    <br><br>
    
    

</div>

{% endblock %}