{% extends 'base.html' %}

{% block bodyblock%}
<div class="container">
    <br><br>
    <h3 class="display-8">Welcome to Face Recognition Gender Classification Project</h3>
    <p> This web-app is built on a machine learning model. 
        As a image is uploaded to this app, face(s) in the image will be detected and classified as male/female. </p>
    <img src="/static/images/index.png" class="image-fluid" width="600" alt="">
    <p><sub><a href="https://rankone.io/2018/11/02/how-automated-face-recognition-fr-works/">image source</a></sub></p>

    <br>
    <p>The project consists of two parts: Machine Learning Model Building and Flask-based Web Application Development.</p>
    <h5>1. Machine Learning Model Building</h5>
    <h5>2. Flask-based Web Application Development</h5>
    <br>
    <p> You can see details of projects in <a href="/details/">Details</a> 
        and try the app <a href="/app/">here</a>.</p>

    <br>
    <p >Creator: Ching Lau </p>  

    <a href="https://github.com/hiuc1999">Github</a> | <a href="https://www.linkedin.com/in/hiu-ching-lau-947501207">LinkedIn</a> | <a href="mailto:chinghilllau1899@yahoo.com">Email</a>
    
    <br><br><br>

</div>

{% endblock %}